<header>
  <h2>Header</h2>

  <ul>
    <li>
      <a href="/student">Student</a>
    </li>
    <li>
      <a href="/interview">Interview</a>
    </li>
    <li>
      <a href="/company">Company</a>
    </li>
  </ul>
  <hr />
</header>
