<header>
  <h4>Header</h4>

  <ul>
    <li>
      <a href="/student">Student</a>
    </li>
    <li>
      <a href="/interview">Interview</a>
    </li>
    <li>
      <a href="/company">Company</a>
    </li>
    <%if(locals.employee){%>
    <li>
      <a href="/signout">Signout</a>
    </li>
    <%}else{%>
    <li>
      <a href="/signup">Signup</a>
    </li>
    <li>
      <a href="/signin">SignIn</a>
    </li>
    <%}%>
  </ul>
  <hr />
</header>
